.map {
    height: 77vh;
}

@media all and (max-width: 768px) and (min-width: 576px) {
    .map {
        height: 67vh;
    }
}

@media all and (max-width: 576px) {
    .map {
        height: 57vh;
    }
    .icons {
        display: none;
    }
}